.body{
display: flex;
flex-wrap: nowrap;
background-color: black;
justify-content: center;
flex-direction: column;
align-items: center;
}

h3 {
    color: white;
    margin-bottom: 0px;
    font-family: monospace, sans-serif, serif;
}

.btn {
    margin: 16px;
    padding: 12px;
    color: black;
    background: linear-gradient(
        90deg,
        blue,
        lightblue,
        white
      );
    font-weight: 500;
    font-size: 32px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    border: none;
    font-family: monospace, sans-serif, serif;
}

.btn:hover {
    box-shadow: 0 0 64px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}



#container {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px white;
    width: 680px;
}



.child {
    border: solid 1px white;
    box-sizing: border-box;
    aspect-ratio: 1;
    transition: background-color 0.4s ease;
}



  
